@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0e1f;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .blob-blue {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  .blob-blue-2 {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }
}
